$color-primary: #ee76ad;
$color-light-primary: #fce7f1;
$color-orange: #efac78;
$color-light-orange: #fdf2ea;
$color-blue: #29bae4;
$color-light-blue: #def4fb;
$color-green: #79efb4;
$color-light-green: #ebfdf4;
$color-dark-gray: #404044;
$color-light-gray: #c0c0c3;
$color-white: #ffffff;